.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
}

#col1 {
    border-right: 1px solid rgb(98, 98, 98);
    margin-right: 20px;
    padding-right: 20px;
    width: 70%;
    /* I want to make this column smaller than the right one, i judt changed width percent but idk if thats best way*/
}


#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}


#adv_owner_current_owner {
    font-style: italic;
}

#perm_change_owner_button {
    margin-bottom: 10px;
    float: right;
}


