#filestructure {
    width: 80% !important;
    margin: auto !important;
}

.file {
    padding: 8;
    /* border-bottom: 1px solid #dddddd; */
    /* margin-bottom: 1em; */
    padding-bottom: 1em;
    padding-top: 1em;
    
}

.section {
    margin-bottom: 5px;
    
}

.ui-selected { 
    background: #4b8fd4; 
    color: white; 
    
}


.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


.grid {
    display: flex;
    gap: 20px; 
}

/* #col1 {
    border-right: 1px solid rgb(189, 189, 189);
    margin-right: 20px;
    padding-right: 20px;
    
} */

#adv_perm_inheritance_div{
    margin-top: 20px;
}

#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}


#adv_owner_current_owner {
    font-style: italic;
}

#perm_change_owner_button {
    margin-top: 120px;
    display: block;
    border: 1px solid lightgray;
    /* text-decoration: underline; */
    padding: 6;
}


/* added by Jason for dropdown menu advanced permissions */
.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  
.dropdown-content {
    /*display: none;*/
    position: absolute;
  }
  
  
  
.show {display: block;}


/* added by MORGAN */
#permissions_user_description, .small-note{
    color: #6f6f6f;
    margin-top: 7px;
    margin-bottom: 20px !important;
    font-size: 16px;
    /* font-style: italic; */
}

#user-description {
    color: #6f6f6f;
    margin-left: 1em;
    font-size: 14px;
}

#permissions_user_title{
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}



#adv_perm_entries_text{
    margin-top: 55px;
}

/* added by H Fu */
#col1 > *, #col2 > * {
    margin-bottom: 1em;
}

#col1{
    width: 30%;
    padding: 0 1em;
    background-color: rgb(245, 245, 245);
}

#col2{
    width: 70%;
    margin-top: 40px;
}

#permissions_description_here{
    color: #707070;
    margin-top: 1em;
    font-size: large;
    /* font-style: italic; */
}



#adv_permissions_tab{
    margin-top: -15px;
}

.permbutton {
    margin-left: 1em;
    display: inline-flex;
}

.permbutton > * {
    padding: .1em;
}

/* .permbutton:first-child {
    margin-left: 1em;
} */

.perm-btn-txt {
    margin-left: .5em;
}

#permdialog_file_user_list > * {
    padding: .5em;
}

.small-note{
    font-size: 15px;
    margin-bottom: 30px;
}

#permentry,
#user_select_dialog,
#advdialog {
    background-color: #ffffff; 
    padding: 5px;
}
#mturk-top-banner-drop-down-content {
    margin-top: 4px; /* Adjust the margin to move the section down */
}

#adv_effective_user_text{
    background-color: #ffffff; 
}