.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
}

#col1 {
    border-right: 1px solid rgb(189, 189, 189);
    margin-right: 20px;
    padding-right: 20px;
    
}


#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}


#adv_owner_current_owner {
    font-style: italic;
}

#perm_change_owner_button {
    margin-bottom: 10px;
    float: right;
}


/* added by Jason for dropdown menu advanced permissions */
.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
  }
  
  
  
.show {display: block;}


/* added by MORGAN */
#permissions_user_description{
    color: #2a2a2a;
    margin-top: 7px;
    font-style: italic;
}

#permissions_user_title{
    font-weight: 600;
}

#perm_change_owner_button{
   margin-top: -51px;
}

#adv_perm_entries_text{
    margin-top: 35px;
}

/* added by H Fu */
#col1 > *, #col2 > * {
    margin-bottom: 1em;
}

#permissions_description_here{
    color: #707070;
    margin-top: 35px;
    font-style: italic;
}
